.Icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Icon-Social {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  transition: var(--TRANSITION);
  background-size: cover;
  &:hover {
    width: 100%;
    height: 100%;

  }
}

.Icon-Social_ins {
  background-image: url('../../images/icons/icon_inst.svg');
}

.Icon-Social_face {
  background-image: url('../../images/icons/icon_face.svg');
}

.Icon-Social_in {
  background-image: url('../../images/icons/icon_in.svg');
}

.Icon-Social_tic {
  background-image: url('../../images/icons/icon_tic.svg');
}

.Icon-Social_tlg {
  background-image: url('../../images/icons/icon_tlg.svg');
}

.Icon-Social_yt {
  background-image: url('../../images/icons/icon_yt.svg');
}
