@import url('../vendor/fonts/fonts.css');
@import url('../blocks/Typography/index.css');
@import url('../blocks/Link/index.css');
@import url('../blocks/Field/index.css');
@import url('../blocks/ListPromo/index.css');
@import url('../blocks/ListFeatures/index.css');
@import url('../blocks/Container/index.css');
@import url('../blocks/Button/index.css');
@import url('../blocks/Discover/index.css');
@import url('../blocks/Header/index.css');
@import url('../blocks/Navigation/index.css');
@import url('../blocks/Features/index.css');
@import url('../blocks/Schedule/index.css');
@import url('../blocks/Footer/index.css');
@import url('../blocks/Icon/index.css');

:root {
  /*PRIMARY VAR*/
  --PRIMARY-BG: #282829;
  --PRIMARY-COLOR-APPLICATIONS-DARK-DUNE: #D5C9BE;
  --PRIMARY-COLORS-OCEANIC: #38535D;
  --PRIMARY-COLORS-WHITE: #FFF;

  /*ACCENT VAR*/
  --ACCENT-BG: #222;

  /*SUPPORTING VAR*/
  --SUPPORTING-BG: #FFF;
  --SUPPORTING-COLORS-IRONS: #55565A;
  --SUPPORTING-COLORS-IRONS-opacity: #55565AB3;
  --SUPPORTING-COLORS-DUNE: #D6D6D6;

  /*OTHER VAR*/
  --TRANSITION: all linear 0.6s;
  --BOUNDARY-PADDING: 162px;
  --RADIUS-BORDER: 30px;
  --RADIUS-BORDER-IMG: 24px;
}


#body {
  color: var(--PRIMARY-COLORS-WHITE);
  position: relative;
  background: var(--PRIMARY-BG);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
}