@import url('../vendor/fonts/fonts.css');
@import url('../blocks/Typography/index.css');
@import url('../blocks/Link/index.css');
@import url('../blocks/Field/index.css');
@import url('../blocks/Checkbox/index.css');
@import url('../blocks/ListPromo/index.css');
@import url('../blocks/ListFeatures/index.css');
@import url('../blocks/Container/index.css');
@import url('../blocks/Button/index.css');
@import url('../blocks/Discover/index.css');
@import url('../blocks/Header/index.css');
@import url('../blocks/Navigation/index.css');
@import url('../blocks/Features/index.css');
@import url('../blocks/Schedule/index.css');
@import url('../blocks/Footer/index.css');
@import url('../blocks/Icon/index.css');

:root {
  /*PRIMARY VAR*/
  --PRIMARY-BG: #282829;
  --PRIMARY-BG-OPACITY-LIGHT: #55565A4D;
  --PRIMARY-BG-OPACITY: #282829B3;
  --PRIMARY-COLOR-APPLICATIONS-DARK-DUNE: #D5C9BE;
  --PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY: #D5C9BEB2;
  --PRIMARY-COLORS-OCEANIC: #38535D;
  --PRIMARY-COLORS-WHITE: #FFF;

  /*ACCENT VAR*/
  --ACCENT-BG: #222;
  --ACCENT-BG-OPACITY: #222222B3;

  /*SUPPORTING VAR*/
  --SUPPORTING-BG: #FFF;
  --SUPPORTING-BG-OPACITY: #FFFFFFB3;
  --SUPPORTING-COLORS-IRONS: #55565A;
  --SUPPORTING-COLORS-IRONS-OPACITY: #55565AB2;
  --SUPPORTING-COLORS-DUNE: #D6D6D6;

  /*OTHER VAR*/
  --TRANSITION: all linear 0.6s;
  --BOUNDARY-PADDING: clamp(50px, 5%, 162px);
  --RADIUS-BORDER: 30px;
  --RADIUS-BORDER-IMG: 24px;

}


#body {
  color: var(--PRIMARY-COLORS-WHITE);
  position: relative;
  background: var(--PRIMARY-BG);
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-width: 320px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media (max-width: 768px) {
  :root {
    --BOUNDARY-PADDING: 20px;
  }
}

@media (max-width: 576px) {
  :root {
    --BOUNDARY-PADDING: 20px;
  }
}

@media (max-width: 320px) {
  :root {
    --BOUNDARY-PADDING: 5px;
  }
}