.Header {
  position: fixed;
  width: 100%;
  transition: var(--TRANSITION);
}

.Header_type_scrolled {
  backdrop-filter: blur(20px);
  background-color: var(--ACCENT-BG-OPACITY);
  z-index: 5
}

.Header-Layout {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 100px;
  padding: 30px var(--BOUNDARY-PADDING);
}