.Header {
  z-index: 5;
  position: fixed;
  width: 100%;
  transition: var(--TRANSITION);
}

.Header_type_scrolled {
  backdrop-filter: blur(20px);
  background-color: var(--ACCENT-BG-OPACITY);
}

.Header-Layout {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 100px;
  padding: 30px var(--BOUNDARY-PADDING);
}

@media (max-width: 950px) {
  .Header-Layout {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}