.Discover {
  width: 100%;
  background: var(--ACCENT-BG);
}

.Discover-Layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Discover-Content {
  flex-shrink: 0;
  padding: 100px 50px 50px var(--BOUNDARY-PADDING);
}

.Discover-Title {
  margin-bottom: 15px;
}

.Discover-Subtitle {
  margin-bottom: 50px;
}

.Discover-Promo {
  margin-bottom: 40px;
}

.Discover-Image {
  overflow: hidden;
  max-width: 763px;
  min-height: 1009px;
  width: 100%;
  object-fit: cover;
  display: block;
  height: 100%;
}