.Discover {
  width: 100%;
  background: var(--ACCENT-BG);
}

.Discover-Layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Discover-Content {
  padding: 100px var(--boundary-padding) 50px;
}

.Discover-Title {
    margin-bottom: 50px;
}

.Discover-Subtitle {
    margin-bottom: 64px;
}

.Discover-Promo {
    margin-bottom: 40px;
}

.Discover-Image {
  width: 40vw;
  max-width: 763px;
  object-fit: cover;
  display: block;
  min-height: 1009px;
}