.Discover {
  width: 100%;
  background: var(--ACCENT-BG);
}

.Discover-Layout {
  width: 100%;
}

.Discover-Content {
  z-index: 1;
  flex-shrink: 0;
  padding: calc(182px + 100px + 50px) var(--BOUNDARY-PADDING) 50px;
}

.Discover-Title {
  margin-bottom: 15px;
}

.Discover-Subtitle {
  margin-bottom: 50px;
}

.Discover-Promo {
  margin-bottom: 40px;
}

.Discover-Image {
  overflow: hidden;
  max-width: 763px;
  min-height: 1009px;
  width: 100%;
  object-fit: cover;
  display: block;
  height: 100%;
}

.Block {
  position: relative;
  overflow: hidden;
}

.Block::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: clamp(0px, 60%, 763px);
  background-image: url(../../assets/images/main.png);
  background-repeat: no-repeat;
  background-size: cover; /* или contain — в зависимости от дизайна */
  background-position: right center;
  z-index: -1;
}

@media (max-width: 950px) {
  .Discover-Content {
    padding-top: calc(182px + 50px);
  }
}

@media (max-width: 768px) {
  .Block::after {
    width: 100%;
    background-position: center;
    background-image:
        linear-gradient(var(--PRIMARY-BG-OPACITY-LIGHT), var(--PRIMARY-BG-OPACITY-LIGHT)),
        url(../../assets/images/main.png);
  }
}