.Text {
  font-family: Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.Text_type_link {
  font-size: 20px;
}

.Text_type_navLink {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.Text_type_navLinkBig {
  font-size: 20px;
  letter-spacing: 0.8px;
  font-style: italic;
  text-transform: uppercase;
  white-space: nowrap;
}


.Text_type_logo {
  font-family: Prata Regular, sans-serif;
  font-size: 36px;
  font-style: normal;
  line-height: 150%; /* 54px */
  letter-spacing: 1.08px;
  padding-top: 4px;
  text-transform: uppercase;
}

.Text_type_caption {
  font-family: Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */

  b {
    font-family: Prata Regular, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding-right: 8px;
    padding-top: 8px;
  }
}


.Text_type_title {
  font-family: Prata Regular, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 96px */
}

.Text_type_subtitle {
  font-family: Arial, serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 60px */
}