.ListPromo {
  --marker: calc(25px + (37 - 25) * (100vw - 320px) / (1920 - 320));
  --marker-width: clamp(27px, calc(var(--marker) + 2px), 39px);
  --marker-height: clamp(25px, var(--marker), 37px);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: fit-content;
  align-items: flex-start;
}

.ListPromo-Item {
  border-radius: 4px;
  background: var(--PRIMARY-BG-OPACITY);
  width: fit-content;
  display: flex;
  padding-right: 20px;
  align-items: center;
  gap: 7px;
  transition: var(--TRANSITION);
  flex-wrap: wrap;
}

.ListPromo li {
  position: relative;
  padding-left: calc(var(--marker-width) + 17px); /* отступ под маркер */
}

.ListPromo li::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - (var(--marker-height) / 2));
  width: var(--marker-width);
  height: var(--marker-height);
  background-image: url("../../assets/icons/price.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.ListPromo-Item_highlighted {
  animation: promo-pulse-shadow 3s ease-out;
}


@keyframes promo-pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY),
    inset 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  15% {
    box-shadow: 0 0 20px 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY),
    inset 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  30% {
    box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY),
    inset 0 0 20px 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  45% {
    box-shadow: 0 0 20px 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY),
    inset 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  60% {
    box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY),
    inset 0 0 20px 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  75% {
    box-shadow: 0 0 20px 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY),
    inset 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  90% {
    box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY),
    inset 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
}