.Schedule {
  width: 100%;
  height: fit-content;
  padding: 100px var(--BOUNDARY-PADDING);
}

.Schedule-Layout {
  border-radius: var(--RADIUS-BORDER);
  border: 2px solid var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE);
  background: var(--SUPPORTING-BG);
  position: relative;
  z-index: 1;
}

.Schedule-BoxForm {
  padding: 72px 134px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Schedule-Form {
  max-width: 774px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.Schedule-Title {
  z-index: 2;
  width: 100%;
  color: var(--PRIMARY-COLORS-OCEANIC);
  margin-bottom: 45px;
}

.Schedule-Fields {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
}

/* первая картинка - девушка*/
.Schedule-Layout::before {
  content: '';
  position: absolute;
  right: 91px;
  height: calc(100% + 129px + 3px);
  bottom: -2px;
  width: 600px;
  background-image: url('../../images/form_2.png');
  background-size: cover;
  background-position: top;
  z-index: 1;
}

/* вторая картинка */
.Schedule-Layout::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -2px;
  height: calc(100% + 5px);
  width: 50%;
  background-image: url('../../images/form_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
  border-radius: 30px;
  overflow: hidden;
}

.Schedule-Submit {
  z-index: 2;
}
