.Schedule {
  width: 100%;
  height: fit-content;
  padding: 100px var(--BOUNDARY-PADDING);
  margin-inline: auto;
}
.Schedule_highlighted {
  .Schedule-Layout {
    animation: pulse-shadow 3s ease-out;
  }
}

.Schedule-Layout {
  margin-inline: auto;
  width: 100%;
  max-width: 1597px;
  border-radius: var(--RADIUS-BORDER);
  border: 2px solid var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE);
  background: var(--SUPPORTING-BG);
  position: relative;
  z-index: 1;
}

.Schedule-BoxForm {
  padding: 60px 140px 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Schedule-Form {
  max-width: 774px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.Schedule-Title {
  z-index: 2;
  padding: 10px 3px;
  width: fit-content;
  border-radius: var(--RADIUS-BORDER);
  color: var(--PRIMARY-COLORS-OCEANIC);
  margin-bottom: 35px;
  background: var(--SUPPORTING-BG-OPACITY);
}

.Schedule-Fields {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
}

/* первая картинка - девушка*/
.Schedule-Layout::before {
  content: '';
  position: absolute;
  right: 91px;
  height: calc(100% + 129px + 3px);
  bottom: -2px;
  width: 600px;
  background-image: url('../../images/form_2.png');
  background-size: cover;
  background-position: top;
  z-index: 1;
}

/* вторая картинка */
.Schedule-Layout::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -2px;
  height: calc(100% + 5px);
  width: 70%;
  background-image: url('../../images/form_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
  border-radius: 30px;
  overflow: hidden;
}

.Schedule-Submit {
  z-index: 2;
}


@keyframes pulse-shadow  {
  0% {
    box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  15% {
    box-shadow: 0 0 30px 10px var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  30% {
    box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  45% {
    box-shadow: 0 0 30px 10px var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  60% {
    box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
  75% {
    box-shadow: 0 0 30px 10px var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);

  }
  90% {
    box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE-OPACITY);
  }
}

@media (max-width: 1470px) {
  .Schedule-Layout::after {
    width: calc(70% + 3px);
  }
}

@media (max-width: 1024px) {
  .Schedule-Layout::after {
    width: calc(100% + 3px);
  }
}

@media (max-width: 950px) {
  .Schedule-BoxForm {
    padding-inline: 80px;
  }
}

@media (max-width: 768px) {
  .Schedule-BoxForm {
    padding-inline: 40px;
  }

  /* первая картинка - девушка*/
  .Schedule-Layout::before {
    right: -90px;
  }
}

@media (max-width: 576px) {
  .Schedule-BoxForm {
    padding-inline: var(--BOUNDARY-PADDING);
  }

  .Schedule {
    padding-inline: 0;
  }

  .Schedule-Layout {
    border-radius: 0;
  }

}