.Text {
  --main-text: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
  --text24: clamp(16px, var(--main-text), 24px);
  --text16: clamp(11px, calc(var(--main-text) * 0.67), 16px);
  --text19: clamp(13px, calc(var(--main-text) * 0.80), 19px);
  --text20: clamp(14px, calc(var(--main-text) * 0.85), 20px);
  --text36: clamp(24px, calc(var(--main-text) * 1.5), 36px);
  --text40: clamp(27px, calc(var(--main-text) * 1.67), 40px);
  --text50: clamp(33px, calc(var(--main-text) * 2.10), 50px);
  --text54: clamp(36px, calc(var(--main-text) * 2.25), 54px);
  --text80: clamp(54px, calc(var(--main-text) * 3.35), 80px);

  font-family: Arial, serif;
  font-size: var(--text24);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.Text_type_features {
  line-height: 140%;
}

.Text_button_discover {
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.Text_type_navLink {
  font-size: var(--text16);
  font-style: italic;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.Text_type_label {
  font-size: var(--text19);
  line-height: 130%;
}

.Text_type_link,
.Text_copyright {
  font-size: var(--text20);
}

.Text_type_navLinkBig,
.Text_button_footer {
  font-size: var(--text20);
  letter-spacing: 0.8px;
  font-style: italic;
  text-transform: uppercase;
  white-space: nowrap;
}

.Text_button_features {
  font-size: var(--text20);
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.Text_type_logo {
  font-family: Prata Regular, sans-serif;
  font-size: var(--text36);
  letter-spacing: 1.08px;
  padding-top: 4px;
  text-transform: uppercase;
}

.Text_type_caption {
  line-height: 110%; /* 26.4px */

  b {
    font-family: Prata Regular, sans-serif;
    font-size: var(--text40);
    font-style: normal;
    font-weight: 400;
    line-height: 92.5%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding-right: 8px;
    padding-top: 4px;
    margin-bottom: -3px;
  }
}

.Text_type_subtitle {
  font-size: var(--text50);
  line-height: 120%;
}

.Text_type_titleForm  {
  font-family: Prata Regular, sans-serif;
  font-size: var(--text54);
  line-height: 110%;
}


.Text_type_title {
  font-family: Prata Regular, sans-serif;
  font-size: var(--text80);
  line-height: 120%; /* 96px */
}