.Navigation {
  width: fit-content;
}

.Navigation-List {
  display: flex;
  flex-direction: row;
  gap: 29px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.Navigation_gap_big {
  .Navigation__list {
    gap: 60px;
  }
}