.Button {
  border: none;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--PRIMARY-COLORS-WHITE);
  color: var(--ACCENT-BG);
  width: 100%;
  text-transform: uppercase;
  transition: var(--TRANSITION);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: var(--PRIMARY-COLOR-APPLICATIONS-DARK-DUNE);
  }

  &:disabled {
    background: var(--SUPPORTING-COLORS-DUNE);
    cursor: not-allowed;
  }
}

.Button_width_compact {
  width: fit-content;
}


.Button_height_compact {
  max-height: 78px;
}

.Button_type_accent {
  color: var(--PRIMARY-COLORS-WHITE);
  background: var(--PRIMARY-BG);
  padding: 32px 50px;
  &:hover {
    background: var(--PRIMARY-COLORS-OCEANIC);
  }
  &:disabled {
    background: var(--SUPPORTING-COLORS-DUNE);
    cursor: not-allowed;
  }

}

