.Button {
  border: none;
  display: flex;
  width: 100%;
  height: 96px;
  padding: 32px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #FFF;
  color: #222;

}

.Button__fit {
  width: fit-content;
}

.Button_type_dark {
  color: #FFF;
  background: #282829;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}