.Button {
  border: none;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--PRIMARY-COLORS-WHITE);
  color: var(--ACCENT-BG);
  width: fit-content;
}

.Button_type_short {
  height: 78px;
  width: 100%;
}

.Button_type_dark {
  width: 100%;
  color: var(--PRIMARY-COLORS-WHITE);
  background: var(--PRIMARY-BG);
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}